:root {
  --main-font: "Nunito", sans-serif;
  --font-title: "Nunito", sans-serif;
  --light-color: #ee6336;
  --dark-color: #000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  border: none;
  font: inherit;
  cursor: pointer;
  border-top-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: var(--light-color);
}

.main-container {
  padding: 1.25rem;
  margin: 1.25rem;
}

.main__title-shop {
  color: var(--light-color);
  font-family: var(--main-font);
}

.main__title-cards {
  color: var(--dark-color);
  font-family: var(--font-title);
}
